<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main::areas(~{::title},~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List customer</title>

</head>
<body>

<main class="main-content">
    <h1>INJECTION CUSTOMER LIST</h1>
    <div class="col-lg-12 border rounded-top-2 border border-secondary-subtle rounded-bottom-2 bg-light shadow">
        <div class="px-4 mt-4 mb-1">
            <div th:replace="fragments/filter-content :: filter-content(
                    posts=${posts},
                    keyword=${keyword},
                    url='/admin/customer/list',
                    size=${size})">
            </div>

            <table id="tableCustomer" class="display mb-5 table table-striped table-bordered" style="width:100%">
                <thead class="bg-success text-light">
                <tr>
                    <th><input type="checkbox" id="selectAllVaccine"></th>
                    <th>Full name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Identity Card</th>
                    <th>Phone</th>
                </tr>
                </thead>

                <tbody class="text-dark">
                <tr th:each="u : ${posts}">
                    <td><input type="checkbox" name="selectedCustomer" th:value="${u.userId}"></td>
                    <td th:text="${u.fullName}"></td>
                    <td th:text="${u.dateOfBirth}"></td>
                    <td th:text="${u.gender}"></td>
                    <td th:text="${u.address}"></td>
                    <td th:text="${u.identityCard}"></td>
                    <td th:text="${u.phone}"></td>
                </tr>
                </tbody>
            </table>

            <div th:replace="fragments/pagination :: pagination(
                    posts=${posts},
                    pageNumbers=${pageNumbers},
                    keyword=${keyword},
                    url='/admin/customer/list',
                    size=${size})">
            </div>

            <div class="pl-4 mb-5">
                <a th:href="@{/admin/customer/create}" class="btn btn-success text-decoration-none">Register</a>
                <button id="btnUpdateCustomer" class="btn btn-warning text-light" onclick="updateCustomer()">Update Customer</button>
                <button id="btnDeleteCustomer" class="btn btn-danger text-light" onclick="deleteCustomers()">Delete Customer</button>
            </div>
        </div>
    </div>
    <script src="/js/customer.js"></script>

</main>
</body>
</html>
